body {margin:0px; background-color:#D8D8D8;}
body,td {font-family:verdana,arial,sans-serif; font-size:14px; }
h1,h2,h3,h4,h5,h6 {font-family:"Trebuchet MS",helvetica,sans-serif; color:#FF8000; letter-spacing:1px;  }
h1 {font-size:24px;}
h2 {font-size:22px;}
h3 {font-size:20px;}
h4 {font-size:18px;}
h5 {font-size:16px;}
h6 {font-size:16px;}
blockquote {font-family:"Trebuchet MS",helvetica,sans-serif; color:#004A66; font-size:16px; font-style:italic; font-weight:bold; border-top:1px dashed #CCC; border-bottom:1px dashed #CCC; margin:10px; padding:30px 10px 30px 10px; background-color:#EEE; margin-left:0px; }

/* styles for tabbed navigation */
#navlist { padding: 3px 0; margin-left: 0; border-bottom: 1px solid #778; font: bold 14px "Trebuchet MS", sans-serif; text-align:center; }
#navlist li { list-style: none; margin: 0; display: inline; }
#navlist li a { padding: 3px 0.5em; margin-left: 3px; border: 1px solid #778; border-bottom: none; background: #EEE; text-decoration: none; }
#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }
#navlist li a:hover { color: #FFF; background: #336699; border-color: #227; }
#navlist li a#current { background: white; border-bottom: 1px solid white; }
#navlist li a:hover#current { background: white; border-bottom: 1px solid white; color:#448; }

#pageHeader {height:80px; line-height:50px; color:#80FF00;
font-family:"Trebuchet MS",helvetica,sans-serif; font-size:26px;
padding:10px 16px 10px 16px; background-color:#E5E4E1;  border-bottom:1px solid #FFF; }
#topNav {background-color:#0f0;}
#divBaseLinks {height:30px; background-color:#004A66;  border-top:1px solid #FFF; padding:0px 10px 0px 10px; line-height:30px; color:#FFF;}
#divBaseLinks a:link {color:#FFF; text-decoration:none;}
#divBaseLinks a:visited {color:#FFF; text-decoration:none;}
#divBaseLinks a:hover {color:#FFF; text-decoration:none;}
#divBaseLinks a:active {color:#FFF; text-decoration:none;}
#container {margin:20px; background-color:#FFF; min-width:760px;}
#divPageContent {border-top:3px solid #FF8000; border-bottom:3px solid #FF8000; padding:0px 0px 10px 0px;  }
#sideBarNewsContent {background-color:#EEE; padding:10px; }
#newsHeader {height:26px; line-height:22px; color:#80FF00; font-family:"Trebuchet MS",helvetica,sans-serif; font-size:16px; padding:0px 5px 0px 5px; background-color:#004A66;  border-bottom:1px solid #FFF; }

.leftColumn { padding:0p 5px 0px 5px; width:170px;}
.rightColumn {padding:0px 10px 10px 10px; border-left:1px dashed #CCC;}
.subHeader {font-family:"Trebuchet MS",helvetica,sans-serif; color:#004A66; font-size:16px; letter-spacing:1px; font-weight:bold; margin:10px 0px 10px 0px; border-bottom:1px solid #004A66;}
.note {font-weight:bold; color:#800000; font-style:italic; background-color: #FFF0B7; padding:5px; border:1px solid #FFB96C; }
.newsItem {margin-bottom:5px; font-size:12px; }
.readNewsLink {margin-bottom:10px; font-size:10px; }

/* styles for rounded corners */
b.rtop, b.rbottom{display:block;background: #D8D8D8}
b.rtop b, b.rbottom b{display:block;height: 1px; overflow: hidden; background: #004A66}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}
